{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="home-container">
        <section class="side-bar">
            <span class="material-symbols-outlined">account_box</span>
            <div class="side-bar-options">
                <ul>
                    <li><a href="{% url 'newtask' %}" class="option">Nova Tarefa</a></li>
                    <li><a href="{% url 'logout' %}" class="option">Dashboard</a></li>
                    <li><a href="{% url 'logout' %}" class="option">Deslogar</a></li>
                </ul>
            </div>
        </section>
        <main class="main-content">
            {% if user_tasks %}
                <div class="tasks-grid">
                    {% for task in user_tasks %}
                        <div class="task-card">
                            <h2>{{ task.title }}</h2>
                            <div class="task-details">
                                <p>Status:</p>
                                <P>{{ task.status.name }}</P>
                                <p>Description:</p>
                                <P>{{ task.description }}</P>
                                <div class="buttons">
                                    <a href="{% url 'deletetask' task.id %}" style="text-decoration: none;">❌</a>
                                    <a href="#" style="text-decoration: none;">✏️</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-tasks">
                    <h1>Nenhuma tarefa assignada ao usuario logado</h1>
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}